.btn:hover {
  color: #7e878e;
}

.btn.show {
  color: #7e878e;
}

.btn-outline-primary-1 {
  color: #198754;
  background-color: white;
  border: 1px solid #198754;
  border-radius: 2px;
  padding: 8px 32px;
  font-weight: bold;
}

.btn-primary-1 {
  color: white;
  background-color: #198754;
  border: 1px solid #198754;
  border-radius: 2px;
  padding: 8px 32px;
  font-weight: bold;
}
