// table

.table tr:hover {
  background-color: #d8d8d8;
}
.table th,
.table td {
  padding-top: 19px;
  padding-bottom: 17px;
}


.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}
